*{
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(132, 132, 250);
    text-align: center;
}
main{
    background-color: gold;
    padding: 272px 0px;
    text-align: center;
}
footer{
    background-color: lawngreen;
    text-align: center;
}